--
-- PostgreSQL database dump
--

\restrict eZmAMNpPsk3fnD8ZEP3kvs0t6sCrnkuvlWyBlmY8lIjJQATIh04ipoTJgF6ulpe

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: citext; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citext WITH SCHEMA public;


--
-- Name: EXTENSION citext; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citext IS 'data type for case-insensitive character strings';


--
-- Name: announcement_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.announcement_type AS ENUM (
    'notification',
    'announcement',
    'achievement',
    'new_content'
);


ALTER TYPE public.announcement_type OWNER TO postgres;

--
-- Name: assessment_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.assessment_status AS ENUM (
    'draft',
    'open',
    'closed'
);


ALTER TYPE public.assessment_status OWNER TO postgres;

--
-- Name: assessment_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.assessment_type AS ENUM (
    'mcq_test',
    'questionnaire'
);


ALTER TYPE public.assessment_type OWNER TO postgres;

--
-- Name: attempt_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.attempt_status AS ENUM (
    'in_progress',
    'submitted',
    'auto_submitted'
);


ALTER TYPE public.attempt_status OWNER TO postgres;

--
-- Name: course_level; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.course_level AS ENUM (
    'beginner',
    'intermediate',
    'advanced'
);


ALTER TYPE public.course_level OWNER TO postgres;

--
-- Name: course_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.course_status AS ENUM (
    'draft',
    'published',
    'archived'
);


ALTER TYPE public.course_status OWNER TO postgres;

--
-- Name: enrollment_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enrollment_status AS ENUM (
    'enrolled',
    'in_progress',
    'completed',
    'dropped'
);


ALTER TYPE public.enrollment_status OWNER TO postgres;

--
-- Name: generation_method; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.generation_method AS ENUM (
    'manual',
    'llm',
    'rule_based'
);


ALTER TYPE public.generation_method OWNER TO postgres;

--
-- Name: job_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.job_status AS ENUM (
    'pending',
    'running',
    'done',
    'failed'
);


ALTER TYPE public.job_status OWNER TO postgres;

--
-- Name: job_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.job_type AS ENUM (
    'mcq_generate',
    'competency_refresh',
    'deadline_reminders',
    'certificate_issue',
    'email'
);


ALTER TYPE public.job_type OWNER TO postgres;

--
-- Name: question_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.question_status AS ENUM (
    'draft',
    'approved',
    'retired'
);


ALTER TYPE public.question_status OWNER TO postgres;

--
-- Name: question_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.question_type AS ENUM (
    'mcq_single',
    'mcq_multi',
    'true_false',
    'short_text',
    'rating'
);


ALTER TYPE public.question_type OWNER TO postgres;

--
-- Name: resource_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.resource_type AS ENUM (
    'video',
    'pdf',
    'presentation',
    'document',
    'link'
);


ALTER TYPE public.resource_type OWNER TO postgres;

--
-- Name: role_name; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.role_name AS ENUM (
    'trainee',
    'trainer',
    'admin'
);


ALTER TYPE public.role_name OWNER TO postgres;

--
-- Name: skill_kind; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.skill_kind AS ENUM (
    'skill',
    'interest'
);


ALTER TYPE public.skill_kind OWNER TO postgres;

--
-- Name: skill_source; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.skill_source AS ENUM (
    'self_declared',
    'assessment',
    'admin_verified',
    'course_completion'
);


ALTER TYPE public.skill_source OWNER TO postgres;

--
-- Name: user_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_status AS ENUM (
    'pending',
    'approved',
    'rejected',
    'suspended'
);


ALTER TYPE public.user_status OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    type public.job_type NOT NULL,
    status public.job_status DEFAULT 'pending'::public.job_status NOT NULL,
    payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    result jsonb,
    error text,
    dedupe_key text,
    attempts smallint DEFAULT 0 NOT NULL,
    max_attempts smallint DEFAULT 2 NOT NULL,
    run_after timestamp with time zone DEFAULT now() NOT NULL,
    locked_at timestamp with time zone,
    locked_by text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    finished_at timestamp with time zone
);


ALTER TABLE public.jobs OWNER TO postgres;

--
-- Name: claim_next_job(text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.claim_next_job(p_worker text) RETURNS SETOF public.jobs
    LANGUAGE sql
    AS $$
    UPDATE jobs j SET status = 'running', locked_at = now(), locked_by = p_worker, attempts = j.attempts + 1
    WHERE j.id = (
        SELECT id FROM jobs
        WHERE (status = 'pending' AND run_after <= now())
           OR (status = 'running' AND locked_at < now() - interval '5 minutes'
               AND attempts < max_attempts)                                   -- recover crashed jobs
        ORDER BY run_after
        FOR UPDATE SKIP LOCKED
        LIMIT 1)
    RETURNING j.*;
$$;


ALTER FUNCTION public.claim_next_job(p_worker text) OWNER TO postgres;

--
-- Name: refresh_competency_scores(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.refresh_competency_scores() RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE n INT;
BEGIN
    WITH trainers AS (
        SELECT u.id FROM users u WHERE u.role = 'trainer' AND u.status = 'approved'
    ),
    trainer_text AS (                                   -- everything we know about a trainer, as lowercase text
        SELECT t.id,
               lower(concat_ws(' ', p.headline, p.bio, p.expertise_summary,
                   (SELECT string_agg(concat_ws(' ', q.degree, q.specialization), ' ') FROM qualifications q WHERE q.user_id = t.id),
                   (SELECT string_agg(concat_ws(' ', w.designation, w.description), ' ') FROM work_experiences w WHERE w.user_id = t.id),
                   (SELECT string_agg(concat_ws(' ', c.title, array_to_string(c.tags, ' ')), ' ') FROM courses c WHERE c.trainer_id = t.id),
                   (SELECT string_agg(r.title, ' ') FROM learning_resources r WHERE r.trainer_id = t.id))) AS txt,
               COALESCE(p.total_experience_months, 0) AS exp_months
        FROM trainers t LEFT JOIN profiles p ON p.user_id = t.id
    ),
    pairs AS (
        SELECT tt.id AS trainer_id, s.id AS skill_id, s.parent_id, s.keywords, tt.txt, tt.exp_months
        FROM trainer_text tt CROSS JOIN skills s
        WHERE s.is_active
    ),
    evidence AS (
        SELECT p.trainer_id, p.skill_id, p.exp_months,
            (SELECT us.proficiency FROM user_skills us
               WHERE us.user_id = p.trainer_id AND us.skill_id = p.skill_id AND us.kind = 'skill') AS direct_prof,
            (SELECT max(us.proficiency) FROM user_skills us JOIN skills s2 ON s2.id = us.skill_id
               WHERE us.user_id = p.trainer_id AND us.kind = 'skill'
                 AND (s2.id = p.parent_id OR s2.parent_id = p.skill_id)) AS related_prof,
            (SELECT us.years FROM user_skills us
               WHERE us.user_id = p.trainer_id AND us.skill_id = p.skill_id AND us.kind = 'skill') AS skill_years,
            (SELECT count(*) FROM courses c
               WHERE c.trainer_id = p.trainer_id AND c.skill_id = p.skill_id AND c.status = 'published') AS n_courses,
            (SELECT count(*) FROM learning_resources r
               WHERE r.trainer_id = p.trainer_id AND r.skill_id = p.skill_id AND r.is_published) AS n_resources,
            (SELECT count(*) FROM unnest(p.keywords) k WHERE p.txt LIKE '%' || lower(k) || '%') AS kw_hits,
            (SELECT count(*) FILTER (WHERE a2.passed) FROM attempts a2 JOIN assessments a ON a.id = a2.assessment_id
               LEFT JOIN courses c ON c.id = a.course_id
               WHERE a.skill_id = p.skill_id AND a2.status <> 'in_progress'
                 AND (c.trainer_id = p.trainer_id OR a.created_by = p.trainer_id)) AS n_passed,
            (SELECT count(*) FROM attempts a2 JOIN assessments a ON a.id = a2.assessment_id
               LEFT JOIN courses c ON c.id = a.course_id
               WHERE a.skill_id = p.skill_id AND a2.status <> 'in_progress'
                 AND (c.trainer_id = p.trainer_id OR a.created_by = p.trainer_id)) AS n_attempts,
            (SELECT count(f.trainer_rating) FROM feedback f WHERE f.trainer_id = p.trainer_id) AS n_fb,
            (SELECT COALESCE(sum(f.trainer_rating), 0) FROM feedback f WHERE f.trainer_id = p.trainer_id) AS sum_fb
        FROM pairs p
    ),
    scored AS (
        SELECT e.*,
            LEAST(1.0,
                  0.55 * GREATEST(COALESCE(e.direct_prof, 0) / 5.0, 0.5 * COALESCE(e.related_prof, 0) / 5.0)
                + 0.25 * LEAST(1.0, 0.5 * e.n_courses + 0.25 * e.n_resources)
                + 0.20 * LEAST(1.0, e.kw_hits / 3.0)) AS tag_match
        FROM evidence e
    )
    INSERT INTO trainer_competency_scores AS tcs
        (trainer_id, skill_id, declared_proficiency, courses_taught, resources_uploaded, keyword_hits,
         attempts_count, feedback_count, tag_match, pass_rate, rating_score, experience_score, computed_at)
    SELECT trainer_id, skill_id, direct_prof, n_courses, n_resources, kw_hits,
           n_attempts, n_fb,
           round(tag_match, 4),
           round((n_passed + 1.0) / (n_attempts + 2.0), 4),
           round(((sum_fb + 6.0) / (n_fb + 2.0)) / 5.0, 4),
           round(0.5 * LEAST(1.0, exp_months / 240.0) + 0.5 * LEAST(1.0, COALESCE(skill_years, 0) / 10.0), 4),
           now()
    FROM scored
    WHERE tag_match > 0.10                               -- keep only trainers with real evidence
    ON CONFLICT (trainer_id, skill_id) DO UPDATE SET
        declared_proficiency = EXCLUDED.declared_proficiency,
        courses_taught       = EXCLUDED.courses_taught,
        resources_uploaded   = EXCLUDED.resources_uploaded,
        keyword_hits         = EXCLUDED.keyword_hits,
        attempts_count       = EXCLUDED.attempts_count,
        feedback_count       = EXCLUDED.feedback_count,
        tag_match            = EXCLUDED.tag_match,
        pass_rate            = EXCLUDED.pass_rate,
        rating_score         = EXCLUDED.rating_score,
        experience_score     = EXCLUDED.experience_score,
        computed_at          = EXCLUDED.computed_at;   -- embedding_match intentionally untouched
    GET DIAGNOSTICS n = ROW_COUNT;

    -- remove pairs that no longer have evidence
    DELETE FROM trainer_competency_scores t
    WHERE t.computed_at < now() AND t.embedding_match IS NULL;   -- now() = transaction start
    RETURN n;
END; $$;


ALTER FUNCTION public.refresh_competency_scores() OWNER TO postgres;

--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN NEW.updated_at = now(); RETURN NEW; END; $$;


ALTER FUNCTION public.set_updated_at() OWNER TO postgres;

--
-- Name: announcements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.announcements (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    type public.announcement_type NOT NULL,
    title text NOT NULL,
    title_hi text,
    body text,
    link_url text,
    related_course_id uuid,
    related_user_id uuid,
    audience public.role_name,
    is_pinned boolean DEFAULT false NOT NULL,
    publish_at timestamp with time zone DEFAULT now() NOT NULL,
    expires_at timestamp with time zone,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.announcements OWNER TO postgres;

--
-- Name: assessment_questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessment_questions (
    assessment_id uuid NOT NULL,
    question_id uuid NOT NULL,
    "position" smallint NOT NULL,
    marks numeric(5,2) DEFAULT 1 NOT NULL
);


ALTER TABLE public.assessment_questions OWNER TO postgres;

--
-- Name: assessments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title text NOT NULL,
    instructions text,
    type public.assessment_type DEFAULT 'mcq_test'::public.assessment_type NOT NULL,
    course_id uuid,
    skill_id integer,
    created_by uuid NOT NULL,
    status public.assessment_status DEFAULT 'draft'::public.assessment_status NOT NULL,
    opens_at timestamp with time zone,
    deadline_at timestamp with time zone,
    duration_minutes smallint,
    pass_pct smallint DEFAULT 60 NOT NULL,
    max_attempts smallint DEFAULT 1 NOT NULL,
    shuffle_questions boolean DEFAULT true NOT NULL,
    show_results boolean DEFAULT true NOT NULL,
    lockdown_enabled boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT assessments_check CHECK (((deadline_at IS NULL) OR (opens_at IS NULL) OR (deadline_at > opens_at))),
    CONSTRAINT assessments_duration_minutes_check CHECK ((duration_minutes > 0)),
    CONSTRAINT assessments_max_attempts_check CHECK ((max_attempts > 0)),
    CONSTRAINT assessments_pass_pct_check CHECK (((pass_pct >= 0) AND (pass_pct <= 100)))
);


ALTER TABLE public.assessments OWNER TO postgres;

--
-- Name: attempt_answers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attempt_answers (
    attempt_id uuid NOT NULL,
    question_id uuid NOT NULL,
    selected_option_ids uuid[] DEFAULT '{}'::uuid[] NOT NULL,
    text_answer text,
    rating_value smallint,
    is_correct boolean,
    marks_awarded numeric(5,2),
    answered_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.attempt_answers OWNER TO postgres;

--
-- Name: attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attempts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    assessment_id uuid NOT NULL,
    user_id uuid NOT NULL,
    attempt_no smallint DEFAULT 1 NOT NULL,
    status public.attempt_status DEFAULT 'in_progress'::public.attempt_status NOT NULL,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    expires_at timestamp with time zone,
    submitted_at timestamp with time zone,
    score numeric(6,2),
    max_score numeric(6,2),
    percentage numeric(5,2),
    passed boolean,
    tab_switch_count smallint DEFAULT 0 NOT NULL,
    fullscreen_exits smallint DEFAULT 0 NOT NULL,
    copy_paste_attempts smallint DEFAULT 0 NOT NULL,
    proctor_events jsonb DEFAULT '[]'::jsonb NOT NULL
);


ALTER TABLE public.attempts OWNER TO postgres;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id bigint NOT NULL,
    actor_id uuid,
    action text NOT NULL,
    entity_type text NOT NULL,
    entity_id text,
    details jsonb,
    ip_address inet,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: certificates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.certificates (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    certificate_no text NOT NULL,
    user_id uuid NOT NULL,
    course_id uuid NOT NULL,
    enrollment_id uuid,
    final_score_pct numeric(5,2),
    payload jsonb NOT NULL,
    sha256 character(64) NOT NULL,
    signature text NOT NULL,
    file_id uuid,
    issued_at timestamp with time zone DEFAULT now() NOT NULL,
    revoked_at timestamp with time zone,
    revoke_reason text
);


ALTER TABLE public.certificates OWNER TO postgres;

--
-- Name: course_resources; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.course_resources (
    course_id uuid NOT NULL,
    resource_id uuid NOT NULL,
    module_title text DEFAULT 'Module 1'::text NOT NULL,
    "position" smallint NOT NULL,
    is_mandatory boolean DEFAULT true NOT NULL
);


ALTER TABLE public.course_resources OWNER TO postgres;

--
-- Name: courses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    code text NOT NULL,
    title text NOT NULL,
    summary text,
    skill_id integer,
    tags text[] DEFAULT '{}'::text[] NOT NULL,
    level public.course_level DEFAULT 'beginner'::public.course_level NOT NULL,
    duration_hours numeric(5,1),
    trainer_id uuid,
    thumbnail_file_id uuid,
    status public.course_status DEFAULT 'draft'::public.course_status NOT NULL,
    pass_criteria_pct smallint DEFAULT 60 NOT NULL,
    issues_certificate boolean DEFAULT true NOT NULL,
    created_by uuid NOT NULL,
    published_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT courses_pass_criteria_pct_check CHECK (((pass_criteria_pct >= 0) AND (pass_criteria_pct <= 100)))
);


ALTER TABLE public.courses OWNER TO postgres;

--
-- Name: enrollments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.enrollments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    course_id uuid NOT NULL,
    status public.enrollment_status DEFAULT 'enrolled'::public.enrollment_status NOT NULL,
    completed_resource_ids uuid[] DEFAULT '{}'::uuid[] NOT NULL,
    progress_pct numeric(5,2) DEFAULT 0 NOT NULL,
    enrolled_at timestamp with time zone DEFAULT now() NOT NULL,
    completed_at timestamp with time zone,
    last_activity_at timestamp with time zone,
    CONSTRAINT enrollments_progress_pct_check CHECK (((progress_pct >= (0)::numeric) AND (progress_pct <= (100)::numeric)))
);


ALTER TABLE public.enrollments OWNER TO postgres;

--
-- Name: external_certificates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.external_certificates (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    title text NOT NULL,
    issuer text NOT NULL,
    issue_date date,
    credential_id text,
    file_id uuid,
    skill_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.external_certificates OWNER TO postgres;

--
-- Name: feedback; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.feedback (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    course_id uuid,
    resource_id uuid,
    trainer_id uuid,
    content_rating smallint,
    trainer_rating smallint,
    comment text,
    is_anonymous boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT feedback_check CHECK (((course_id IS NOT NULL) OR (resource_id IS NOT NULL))),
    CONSTRAINT feedback_content_rating_check CHECK (((content_rating >= 1) AND (content_rating <= 5))),
    CONSTRAINT feedback_trainer_rating_check CHECK (((trainer_rating >= 1) AND (trainer_rating <= 5)))
);


ALTER TABLE public.feedback OWNER TO postgres;

--
-- Name: files; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.files (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    owner_id uuid,
    storage_path text NOT NULL,
    original_name text NOT NULL,
    mime_type text NOT NULL,
    size_bytes bigint NOT NULL,
    sha256 character(64) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT files_size_bytes_check CHECK ((size_bytes >= 0))
);


ALTER TABLE public.files OWNER TO postgres;

--
-- Name: learning_resources; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.learning_resources (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    trainer_id uuid NOT NULL,
    title text NOT NULL,
    description text,
    type public.resource_type NOT NULL,
    file_id uuid,
    external_url text,
    duration_seconds integer,
    page_count integer,
    skill_id integer,
    in_library boolean DEFAULT true NOT NULL,
    is_published boolean DEFAULT false NOT NULL,
    view_count integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT learning_resources_check CHECK (((file_id IS NOT NULL) OR (external_url IS NOT NULL)))
);


ALTER TABLE public.learning_resources OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    body text,
    link text,
    dedupe_key text,
    read_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profiles (
    user_id uuid NOT NULL,
    headline text,
    bio text,
    date_of_joining date,
    total_experience_months integer DEFAULT 0 NOT NULL,
    location text,
    expertise_summary text,
    is_available boolean DEFAULT true NOT NULL,
    embedding real[],
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT profiles_total_experience_months_check CHECK ((total_experience_months >= 0))
);


ALTER TABLE public.profiles OWNER TO postgres;

--
-- Name: qualifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.qualifications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    degree text NOT NULL,
    specialization text,
    institution text NOT NULL,
    year_completed smallint,
    proof_file_id uuid,
    CONSTRAINT qualifications_year_completed_check CHECK (((year_completed >= 1950) AND (year_completed <= 2100)))
);


ALTER TABLE public.qualifications OWNER TO postgres;

--
-- Name: question_options; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.question_options (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    question_id uuid NOT NULL,
    text text NOT NULL,
    is_correct boolean DEFAULT false NOT NULL,
    "position" smallint NOT NULL
);


ALTER TABLE public.question_options OWNER TO postgres;

--
-- Name: questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.questions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    skill_id integer NOT NULL,
    type public.question_type DEFAULT 'mcq_single'::public.question_type NOT NULL,
    text text NOT NULL,
    explanation text,
    difficulty smallint DEFAULT 2 NOT NULL,
    status public.question_status DEFAULT 'draft'::public.question_status NOT NULL,
    generation_method public.generation_method DEFAULT 'manual'::public.generation_method NOT NULL,
    source_resource_id uuid,
    source_page integer,
    source_job_id uuid,
    created_by uuid NOT NULL,
    reviewed_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT questions_difficulty_check CHECK (((difficulty >= 1) AND (difficulty <= 5)))
);


ALTER TABLE public.questions OWNER TO postgres;

--
-- Name: skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.skills (
    id integer NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    parent_id integer,
    description text,
    keywords text[] DEFAULT '{}'::text[] NOT NULL,
    embedding real[],
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.skills OWNER TO postgres;

--
-- Name: skills_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.skills_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.skills_id_seq OWNER TO postgres;

--
-- Name: skills_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.skills_id_seq OWNED BY public.skills.id;


--
-- Name: trainer_competency_scores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trainer_competency_scores (
    trainer_id uuid NOT NULL,
    skill_id integer NOT NULL,
    declared_proficiency smallint,
    courses_taught integer DEFAULT 0 NOT NULL,
    resources_uploaded integer DEFAULT 0 NOT NULL,
    keyword_hits integer DEFAULT 0 NOT NULL,
    attempts_count integer DEFAULT 0 NOT NULL,
    feedback_count integer DEFAULT 0 NOT NULL,
    tag_match numeric(5,4) NOT NULL,
    embedding_match numeric(5,4),
    pass_rate numeric(5,4) DEFAULT 0.5 NOT NULL,
    rating_score numeric(5,4) DEFAULT 0.6 NOT NULL,
    experience_score numeric(5,4) DEFAULT 0 NOT NULL,
    skill_match numeric(5,4) GENERATED ALWAYS AS (COALESCE(((tag_match + embedding_match) / (2)::numeric), tag_match)) STORED,
    total_score numeric(5,4) GENERATED ALWAYS AS (((((0.40 * COALESCE(((tag_match + embedding_match) / (2)::numeric), tag_match)) + (0.25 * pass_rate)) + (0.20 * rating_score)) + (0.15 * experience_score))) STORED,
    computed_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.trainer_competency_scores OWNER TO postgres;

--
-- Name: user_skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_skills (
    user_id uuid NOT NULL,
    skill_id integer NOT NULL,
    kind public.skill_kind DEFAULT 'skill'::public.skill_kind NOT NULL,
    proficiency smallint,
    years numeric(4,1),
    source public.skill_source DEFAULT 'self_declared'::public.skill_source NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT user_skills_check CHECK (((kind = 'interest'::public.skill_kind) OR (proficiency IS NOT NULL))),
    CONSTRAINT user_skills_proficiency_check CHECK (((proficiency >= 1) AND (proficiency <= 5)))
);


ALTER TABLE public.user_skills OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email public.citext NOT NULL,
    password_hash text NOT NULL,
    full_name text NOT NULL,
    employee_code text,
    designation text,
    department text,
    role public.role_name DEFAULT 'trainee'::public.role_name NOT NULL,
    status public.user_status DEFAULT 'pending'::public.user_status NOT NULL,
    token_version integer DEFAULT 0 NOT NULL,
    approved_by uuid,
    approved_at timestamp with time zone,
    rejection_reason text,
    failed_logins smallint DEFAULT 0 NOT NULL,
    locked_until timestamp with time zone,
    last_login_at timestamp with time zone,
    preferred_lang text DEFAULT 'en'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    avatar_file_id uuid,
    CONSTRAINT users_preferred_lang_check CHECK ((preferred_lang = ANY (ARRAY['en'::text, 'hi'::text])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: v_assessment_stats; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_assessment_stats AS
SELECT
    NULL::uuid AS assessment_id,
    NULL::text AS title,
    NULL::timestamp with time zone AS deadline_at,
    NULL::uuid AS created_by,
    NULL::bigint AS assigned,
    NULL::bigint AS submitted,
    NULL::numeric AS avg_pct,
    NULL::numeric AS pass_rate_pct,
    NULL::numeric AS avg_tab_switches;


ALTER VIEW public.v_assessment_stats OWNER TO postgres;

--
-- Name: v_course_stats; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_course_stats AS
 SELECT c.id AS course_id,
    c.code,
    c.title,
    c.trainer_id,
    e.enrollments,
    e.completions,
    round(((100.0 * (e.completions)::numeric) / (NULLIF(e.enrollments, 0))::numeric), 1) AS completion_rate_pct,
    ( SELECT count(*) AS count
           FROM public.certificates ce
          WHERE ((ce.course_id = c.id) AND (ce.revoked_at IS NULL))) AS certificates_issued,
    ( SELECT round(avg(f.content_rating), 2) AS round
           FROM public.feedback f
          WHERE (f.course_id = c.id)) AS avg_content_rating
   FROM (public.courses c
     CROSS JOIN LATERAL ( SELECT count(*) AS enrollments,
            count(*) FILTER (WHERE (en.status = 'completed'::public.enrollment_status)) AS completions
           FROM public.enrollments en
          WHERE (en.course_id = c.id)) e);


ALTER VIEW public.v_course_stats OWNER TO postgres;

--
-- Name: v_learning_path; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_learning_path AS
 WITH weak AS (
         SELECT t.user_id,
            a.skill_id,
            round(avg(t.percentage), 1) AS avg_pct
           FROM (public.attempts t
             JOIN public.assessments a ON ((a.id = t.assessment_id)))
          WHERE ((t.status <> 'in_progress'::public.attempt_status) AND (a.skill_id IS NOT NULL))
          GROUP BY t.user_id, a.skill_id
         HAVING (avg(t.percentage) < (60)::numeric)
        )
 SELECT w.user_id,
    w.skill_id,
    s.name AS weak_skill,
    w.avg_pct,
    c.id AS course_id,
    c.code,
    c.title,
    c.level
   FROM ((weak w
     JOIN public.skills s ON ((s.id = w.skill_id)))
     JOIN public.courses c ON (((c.skill_id = w.skill_id) AND (c.status = 'published'::public.course_status))))
  WHERE (NOT (EXISTS ( SELECT 1
           FROM public.enrollments e
          WHERE ((e.user_id = w.user_id) AND (e.course_id = c.id) AND (e.status = 'completed'::public.enrollment_status)))));


ALTER VIEW public.v_learning_path OWNER TO postgres;

--
-- Name: v_monthly_activity; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_monthly_activity AS
 SELECT month,
    ( SELECT count(*) AS count
           FROM public.enrollments e
          WHERE (date_trunc('month'::text, e.enrolled_at) = m.month)) AS enrollments,
    ( SELECT count(*) AS count
           FROM public.attempts t
          WHERE (date_trunc('month'::text, t.started_at) = m.month)) AS attempts,
    ( SELECT count(*) AS count
           FROM public.certificates c
          WHERE (date_trunc('month'::text, c.issued_at) = m.month)) AS certificates
   FROM ( SELECT generate_series((date_trunc('month'::text, now()) - '11 mons'::interval), date_trunc('month'::text, now()), '1 mon'::interval) AS month) m;


ALTER VIEW public.v_monthly_activity OWNER TO postgres;

--
-- Name: v_platform_kpis; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_platform_kpis AS
 SELECT ( SELECT count(*) AS count
           FROM public.users
          WHERE (users.status = 'approved'::public.user_status)) AS active_users,
    ( SELECT count(*) AS count
           FROM public.users
          WHERE (users.status = 'pending'::public.user_status)) AS pending_approvals,
    ( SELECT count(*) AS count
           FROM public.courses
          WHERE (courses.status = 'published'::public.course_status)) AS published_courses,
    ( SELECT count(*) AS count
           FROM public.enrollments) AS total_enrollments,
    ( SELECT count(*) AS count
           FROM public.certificates
          WHERE (certificates.revoked_at IS NULL)) AS certificates_issued,
    ( SELECT count(*) AS count
           FROM public.attempts
          WHERE (attempts.status <> 'in_progress'::public.attempt_status)) AS assessments_taken;


ALTER VIEW public.v_platform_kpis OWNER TO postgres;

--
-- Name: v_skill_gaps; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_skill_gaps AS
 WITH supply AS (
         SELECT trainer_competency_scores.skill_id,
            max(trainer_competency_scores.total_score) AS best_score,
            count(*) FILTER (WHERE (trainer_competency_scores.total_score >= 0.60)) AS strong_trainers
           FROM public.trainer_competency_scores
          GROUP BY trainer_competency_scores.skill_id
        ), weak AS (
         SELECT a.skill_id,
            count(DISTINCT t.user_id) AS weak_trainees
           FROM (public.attempts t
             JOIN public.assessments a ON ((a.id = t.assessment_id)))
          WHERE (t.status <> 'in_progress'::public.attempt_status)
          GROUP BY a.skill_id, t.user_id
         HAVING (avg(t.percentage) < (60)::numeric)
        ), weak_agg AS (
         SELECT weak.skill_id,
            sum(weak.weak_trainees) AS weak_trainees
           FROM weak
          GROUP BY weak.skill_id
        ), interest AS (
         SELECT us.skill_id,
            count(*) AS interested
           FROM (public.user_skills us
             JOIN public.users u ON ((u.id = us.user_id)))
          WHERE ((us.kind = 'interest'::public.skill_kind) AND (u.role = 'trainee'::public.role_name))
          GROUP BY us.skill_id
        )
 SELECT s.id AS skill_id,
    s.name AS skill,
    ps.name AS category,
    COALESCE(sp.best_score, (0)::numeric) AS best_trainer_score,
    COALESCE(sp.strong_trainers, (0)::bigint) AS strong_trainers,
    COALESCE(i.interested, (0)::bigint) AS interested_trainees,
    COALESCE(w.weak_trainees, (0)::numeric) AS weak_trainees,
    ((COALESCE(i.interested, (0)::bigint))::numeric + COALESCE(w.weak_trainees, (0)::numeric)) AS demand,
        CASE
            WHEN ((COALESCE(sp.strong_trainers, (0)::bigint) = 0) AND (((COALESCE(i.interested, (0)::bigint))::numeric + COALESCE(w.weak_trainees, (0)::numeric)) > (0)::numeric)) THEN 'critical gap'::text
            WHEN (COALESCE(sp.best_score, (0)::numeric) < 0.60) THEN 'weak coverage'::text
            ELSE 'covered'::text
        END AS gap_status
   FROM ((((public.skills s
     LEFT JOIN public.skills ps ON ((ps.id = s.parent_id)))
     LEFT JOIN supply sp ON ((sp.skill_id = s.id)))
     LEFT JOIN weak_agg w ON ((w.skill_id = s.id)))
     LEFT JOIN interest i ON ((i.skill_id = s.id)))
  WHERE ((s.parent_id IS NOT NULL) AND s.is_active);


ALTER VIEW public.v_skill_gaps OWNER TO postgres;

--
-- Name: v_skill_heatmap; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_skill_heatmap AS
 SELECT u.department,
    s.name AS skill,
    ps.name AS category,
    round(avg(t.percentage), 1) AS avg_pct,
    count(DISTINCT t.user_id) AS trainees
   FROM ((((public.attempts t
     JOIN public.assessments a ON ((a.id = t.assessment_id)))
     JOIN public.skills s ON ((s.id = a.skill_id)))
     LEFT JOIN public.skills ps ON ((ps.id = s.parent_id)))
     JOIN public.users u ON (((u.id = t.user_id) AND (u.role = 'trainee'::public.role_name))))
  WHERE ((t.status <> 'in_progress'::public.attempt_status) AND (u.department IS NOT NULL))
  GROUP BY u.department, s.name, ps.name;


ALTER VIEW public.v_skill_heatmap OWNER TO postgres;

--
-- Name: v_trainer_recommendations; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_trainer_recommendations AS
 SELECT s.id AS skill_id,
    s.name AS skill,
    u.id AS trainer_id,
    u.full_name,
    u.department,
    tcs.total_score,
    tcs.skill_match,
    tcs.tag_match,
    tcs.embedding_match,
    tcs.pass_rate,
    tcs.rating_score,
    tcs.experience_score,
    tcs.declared_proficiency,
    tcs.courses_taught,
    tcs.resources_uploaded,
    tcs.keyword_hits,
    rank() OVER (PARTITION BY s.id ORDER BY tcs.total_score DESC) AS rank_in_skill
   FROM (((public.trainer_competency_scores tcs
     JOIN public.skills s ON ((s.id = tcs.skill_id)))
     JOIN public.users u ON (((u.id = tcs.trainer_id) AND (u.status = 'approved'::public.user_status))))
     JOIN public.profiles p ON (((p.user_id = u.id) AND p.is_available)));


ALTER VIEW public.v_trainer_recommendations OWNER TO postgres;

--
-- Name: work_experiences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_experiences (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    organization text NOT NULL,
    designation text NOT NULL,
    start_date date NOT NULL,
    end_date date,
    description text,
    CONSTRAINT work_experiences_check CHECK (((end_date IS NULL) OR (end_date >= start_date)))
);


ALTER TABLE public.work_experiences OWNER TO postgres;

--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: skills id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills ALTER COLUMN id SET DEFAULT nextval('public.skills_id_seq'::regclass);


--
-- Data for Name: announcements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: assessment_questions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: assessments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: attempt_answers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attempt_answers (attempt_id, question_id, selected_option_ids, text_answer, rating_value, is_correct, marks_awarded, answered_at) FROM stdin;
\.


--
-- Data for Name: attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: certificates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: course_resources; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: enrollments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: external_certificates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.external_certificates (id, user_id, title, issuer, issue_date, credential_id, file_id, skill_id, created_at) FROM stdin;
\.


--
-- Data for Name: feedback; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: files; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.files (id, owner_id, storage_path, original_name, mime_type, size_bytes, sha256, created_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs (id, type, status, payload, result, error, dedupe_key, attempts, max_attempts, run_after, locked_at, locked_by, created_by, created_at, finished_at) FROM stdin;
\.


--
-- Data for Name: learning_resources; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, user_id, type, title, body, link, dedupe_key, read_at, created_at) FROM stdin;
\.


--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: qualifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: question_options; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: skills; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trainer_competency_scores; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_skills; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: work_experiences; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 10, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: skills_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.skills_id_seq', 20, true);


--
-- Name: announcements announcements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_pkey PRIMARY KEY (id);


--
-- Name: assessment_questions assessment_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_questions
    ADD CONSTRAINT assessment_questions_pkey PRIMARY KEY (assessment_id, question_id);


--
-- Name: assessments assessments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_pkey PRIMARY KEY (id);


--
-- Name: attempt_answers attempt_answers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempt_answers
    ADD CONSTRAINT attempt_answers_pkey PRIMARY KEY (attempt_id, question_id);


--
-- Name: attempts attempts_assessment_id_user_id_attempt_no_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_assessment_id_user_id_attempt_no_key UNIQUE (assessment_id, user_id, attempt_no);


--
-- Name: attempts attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: certificates certificates_certificate_no_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_certificate_no_key UNIQUE (certificate_no);


--
-- Name: certificates certificates_enrollment_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_enrollment_id_key UNIQUE (enrollment_id);


--
-- Name: certificates certificates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_pkey PRIMARY KEY (id);


--
-- Name: course_resources course_resources_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_resources
    ADD CONSTRAINT course_resources_pkey PRIMARY KEY (course_id, resource_id);


--
-- Name: courses courses_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_code_key UNIQUE (code);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (id);


--
-- Name: enrollments enrollments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_pkey PRIMARY KEY (id);


--
-- Name: enrollments enrollments_user_id_course_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_user_id_course_id_key UNIQUE (user_id, course_id);


--
-- Name: external_certificates external_certificates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.external_certificates
    ADD CONSTRAINT external_certificates_pkey PRIMARY KEY (id);


--
-- Name: feedback feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_pkey PRIMARY KEY (id);


--
-- Name: files files_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT files_pkey PRIMARY KEY (id);


--
-- Name: files files_storage_path_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT files_storage_path_key UNIQUE (storage_path);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: learning_resources learning_resources_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.learning_resources
    ADD CONSTRAINT learning_resources_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (user_id);


--
-- Name: qualifications qualifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qualifications
    ADD CONSTRAINT qualifications_pkey PRIMARY KEY (id);


--
-- Name: question_options question_options_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question_options
    ADD CONSTRAINT question_options_pkey PRIMARY KEY (id);


--
-- Name: question_options question_options_question_id_position_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question_options
    ADD CONSTRAINT question_options_question_id_position_key UNIQUE (question_id, "position");


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: skills skills_parent_id_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_parent_id_name_key UNIQUE (parent_id, name);


--
-- Name: skills skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_pkey PRIMARY KEY (id);


--
-- Name: skills skills_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_slug_key UNIQUE (slug);


--
-- Name: trainer_competency_scores trainer_competency_scores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trainer_competency_scores
    ADD CONSTRAINT trainer_competency_scores_pkey PRIMARY KEY (trainer_id, skill_id);


--
-- Name: user_skills user_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_skills
    ADD CONSTRAINT user_skills_pkey PRIMARY KEY (user_id, skill_id, kind);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_employee_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_employee_code_key UNIQUE (employee_code);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: work_experiences work_experiences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_experiences
    ADD CONSTRAINT work_experiences_pkey PRIMARY KEY (id);


--
-- Name: idx_announcements_feed; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_announcements_feed ON public.announcements USING btree (publish_at DESC);


--
-- Name: idx_assess_course; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assess_course ON public.assessments USING btree (course_id);


--
-- Name: idx_assess_deadline; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assess_deadline ON public.assessments USING btree (deadline_at) WHERE (status = 'open'::public.assessment_status);


--
-- Name: idx_attempts_open; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_attempts_open ON public.attempts USING btree (expires_at) WHERE (status = 'in_progress'::public.attempt_status);


--
-- Name: idx_attempts_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_attempts_user ON public.attempts USING btree (user_id);


--
-- Name: idx_audit_entity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_entity ON public.audit_logs USING btree (entity_type, entity_id);


--
-- Name: idx_audit_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_time ON public.audit_logs USING btree (created_at DESC);


--
-- Name: idx_cert_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cert_user ON public.certificates USING btree (user_id);


--
-- Name: idx_courses_skill; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_courses_skill ON public.courses USING btree (skill_id) WHERE (status = 'published'::public.course_status);


--
-- Name: idx_courses_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_courses_status ON public.courses USING btree (status);


--
-- Name: idx_courses_trainer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_courses_trainer ON public.courses USING btree (trainer_id);


--
-- Name: idx_enroll_course_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_enroll_course_status ON public.enrollments USING btree (course_id, status);


--
-- Name: idx_feedback_trainer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_feedback_trainer ON public.feedback USING btree (trainer_id);


--
-- Name: idx_files_sha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_files_sha ON public.files USING btree (sha256);


--
-- Name: idx_jobs_ready; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_jobs_ready ON public.jobs USING btree (run_after) WHERE (status = 'pending'::public.job_status);


--
-- Name: idx_notif_poll; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notif_poll ON public.notifications USING btree (user_id, id DESC);


--
-- Name: idx_qual_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_qual_user ON public.qualifications USING btree (user_id);


--
-- Name: idx_questions_skill; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_questions_skill ON public.questions USING btree (skill_id, status);


--
-- Name: idx_resources_library; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_resources_library ON public.learning_resources USING btree (skill_id) WHERE (in_library AND is_published);


--
-- Name: idx_resources_trainer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_resources_trainer ON public.learning_resources USING btree (trainer_id);


--
-- Name: idx_tcs_skill_score; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tcs_skill_score ON public.trainer_competency_scores USING btree (skill_id, total_score DESC);


--
-- Name: idx_user_skills_skill; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_skills_skill ON public.user_skills USING btree (skill_id, kind);


--
-- Name: idx_users_role_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role_status ON public.users USING btree (role, status);


--
-- Name: idx_workexp_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workexp_user ON public.work_experiences USING btree (user_id);


--
-- Name: uq_feedback_course; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_feedback_course ON public.feedback USING btree (user_id, course_id) WHERE ((course_id IS NOT NULL) AND (resource_id IS NULL));


--
-- Name: uq_jobs_dedupe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_jobs_dedupe ON public.jobs USING btree (type, dedupe_key) WHERE ((dedupe_key IS NOT NULL) AND (status <> 'failed'::public.job_status));


--
-- Name: uq_notif_dedupe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_notif_dedupe ON public.notifications USING btree (user_id, dedupe_key) WHERE (dedupe_key IS NOT NULL);


--
-- Name: v_assessment_stats _RETURN; Type: RULE; Schema: public; Owner: postgres
--

CREATE OR REPLACE VIEW public.v_assessment_stats AS
 SELECT a.id AS assessment_id,
    a.title,
    a.deadline_at,
    a.created_by,
        CASE
            WHEN (a.course_id IS NOT NULL) THEN ( SELECT count(*) AS count
               FROM public.enrollments e
              WHERE ((e.course_id = a.course_id) AND (e.status <> 'dropped'::public.enrollment_status)))
            ELSE ( SELECT count(*) AS count
               FROM public.users u
              WHERE ((u.role = 'trainee'::public.role_name) AND (u.status = 'approved'::public.user_status)))
        END AS assigned,
    count(DISTINCT t.user_id) FILTER (WHERE (t.status <> 'in_progress'::public.attempt_status)) AS submitted,
    round(avg(t.percentage), 1) AS avg_pct,
    round(((100.0 * (count(*) FILTER (WHERE t.passed))::numeric) / (NULLIF(count(*) FILTER (WHERE (t.passed IS NOT NULL)), 0))::numeric), 1) AS pass_rate_pct,
    round(avg(t.tab_switch_count), 1) AS avg_tab_switches
   FROM (public.assessments a
     LEFT JOIN public.attempts t ON ((t.assessment_id = a.id)))
  GROUP BY a.id;


--
-- Name: courses trg_courses_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_courses_updated BEFORE UPDATE ON public.courses FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: profiles trg_profiles_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_profiles_updated BEFORE UPDATE ON public.profiles FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: users trg_users_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_users_updated BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: announcements announcements_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: announcements announcements_related_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_related_course_id_fkey FOREIGN KEY (related_course_id) REFERENCES public.courses(id) ON DELETE SET NULL;


--
-- Name: announcements announcements_related_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_related_user_id_fkey FOREIGN KEY (related_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: assessment_questions assessment_questions_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_questions
    ADD CONSTRAINT assessment_questions_assessment_id_fkey FOREIGN KEY (assessment_id) REFERENCES public.assessments(id) ON DELETE CASCADE;


--
-- Name: assessment_questions assessment_questions_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_questions
    ADD CONSTRAINT assessment_questions_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON DELETE RESTRICT;


--
-- Name: assessments assessments_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: assessments assessments_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: assessments assessments_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(id) ON DELETE SET NULL;


--
-- Name: attempt_answers attempt_answers_attempt_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempt_answers
    ADD CONSTRAINT attempt_answers_attempt_id_fkey FOREIGN KEY (attempt_id) REFERENCES public.attempts(id) ON DELETE CASCADE;


--
-- Name: attempt_answers attempt_answers_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempt_answers
    ADD CONSTRAINT attempt_answers_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON DELETE RESTRICT;


--
-- Name: attempts attempts_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_assessment_id_fkey FOREIGN KEY (assessment_id) REFERENCES public.assessments(id) ON DELETE CASCADE;


--
-- Name: attempts attempts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: certificates certificates_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id);


--
-- Name: certificates certificates_enrollment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_enrollment_id_fkey FOREIGN KEY (enrollment_id) REFERENCES public.enrollments(id) ON DELETE SET NULL;


--
-- Name: certificates certificates_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_file_id_fkey FOREIGN KEY (file_id) REFERENCES public.files(id) ON DELETE SET NULL;


--
-- Name: certificates certificates_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: course_resources course_resources_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_resources
    ADD CONSTRAINT course_resources_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: course_resources course_resources_resource_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_resources
    ADD CONSTRAINT course_resources_resource_id_fkey FOREIGN KEY (resource_id) REFERENCES public.learning_resources(id) ON DELETE CASCADE;


--
-- Name: courses courses_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: courses courses_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(id) ON DELETE SET NULL;


--
-- Name: courses courses_thumbnail_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_thumbnail_file_id_fkey FOREIGN KEY (thumbnail_file_id) REFERENCES public.files(id) ON DELETE SET NULL;


--
-- Name: courses courses_trainer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_trainer_id_fkey FOREIGN KEY (trainer_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: enrollments enrollments_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: enrollments enrollments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: external_certificates external_certificates_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.external_certificates
    ADD CONSTRAINT external_certificates_file_id_fkey FOREIGN KEY (file_id) REFERENCES public.files(id) ON DELETE SET NULL;


--
-- Name: external_certificates external_certificates_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.external_certificates
    ADD CONSTRAINT external_certificates_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(id) ON DELETE SET NULL;


--
-- Name: external_certificates external_certificates_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.external_certificates
    ADD CONSTRAINT external_certificates_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: feedback feedback_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: feedback feedback_resource_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_resource_id_fkey FOREIGN KEY (resource_id) REFERENCES public.learning_resources(id) ON DELETE CASCADE;


--
-- Name: feedback feedback_trainer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_trainer_id_fkey FOREIGN KEY (trainer_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: feedback feedback_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: files files_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT files_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: jobs jobs_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: learning_resources learning_resources_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.learning_resources
    ADD CONSTRAINT learning_resources_file_id_fkey FOREIGN KEY (file_id) REFERENCES public.files(id) ON DELETE SET NULL;


--
-- Name: learning_resources learning_resources_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.learning_resources
    ADD CONSTRAINT learning_resources_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(id) ON DELETE SET NULL;


--
-- Name: learning_resources learning_resources_trainer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.learning_resources
    ADD CONSTRAINT learning_resources_trainer_id_fkey FOREIGN KEY (trainer_id) REFERENCES public.users(id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: profiles profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: qualifications qualifications_proof_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qualifications
    ADD CONSTRAINT qualifications_proof_file_id_fkey FOREIGN KEY (proof_file_id) REFERENCES public.files(id) ON DELETE SET NULL;


--
-- Name: qualifications qualifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.qualifications
    ADD CONSTRAINT qualifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: question_options question_options_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question_options
    ADD CONSTRAINT question_options_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON DELETE CASCADE;


--
-- Name: questions questions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: questions questions_job_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_job_fk FOREIGN KEY (source_job_id) REFERENCES public.jobs(id) ON DELETE SET NULL;


--
-- Name: questions questions_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: questions questions_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(id);


--
-- Name: questions questions_source_resource_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_source_resource_id_fkey FOREIGN KEY (source_resource_id) REFERENCES public.learning_resources(id) ON DELETE SET NULL;


--
-- Name: skills skills_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.skills(id) ON DELETE SET NULL;


--
-- Name: trainer_competency_scores trainer_competency_scores_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trainer_competency_scores
    ADD CONSTRAINT trainer_competency_scores_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(id) ON DELETE CASCADE;


--
-- Name: trainer_competency_scores trainer_competency_scores_trainer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trainer_competency_scores
    ADD CONSTRAINT trainer_competency_scores_trainer_id_fkey FOREIGN KEY (trainer_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_skills user_skills_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_skills
    ADD CONSTRAINT user_skills_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(id) ON DELETE CASCADE;


--
-- Name: user_skills user_skills_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_skills
    ADD CONSTRAINT user_skills_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: users users_avatar_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_avatar_file_id_fkey FOREIGN KEY (avatar_file_id) REFERENCES public.files(id) ON DELETE SET NULL;


--
-- Name: work_experiences work_experiences_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_experiences
    ADD CONSTRAINT work_experiences_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict eZmAMNpPsk3fnD8ZEP3kvs0t6sCrnkuvlWyBlmY8lIjJQATIh04ipoTJgF6ulpe

